.jackcontent {
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    background-repeat: no-repeat;
    background-image: url(../images/homeimg.jpg);
    background-size: cover;
    background-position: top left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.homeimg img{
    width: 100%
}
.homecontent{
    border: 1px solid red;
    position: absolute;
    top: 23%;
    left: 8%;
    color: #fff;
    padding: 0px;
    margin: 0px;
    text-align: left;
}


.homepara {
    font-size: 42px;
    padding-left: 22%;
    font-family: JosefinSans-Bold;
    color: #fff;
    padding-top: 2%;
    letter-spacing: 0.6px;
}


.homepara1 {
    font-size: 15px;
    padding-top: 2%;
    padding-left: 22%;
    font-family: JosefinSans-Regular;
    color: #fff;
    letter-spacing: 0.7px;
}

.video {
    padding-left: 17%;
    padding-top: 3%;
    margin-left: 1%;
}

.homepara2 {
    padding-left: 32%;
    font-size: 23px;
    padding-top: 3%;
    font-family: JosefinSans-Regular;
    color: #fff;
}

.box1 {
    background-color: #213157;
    color: #fff;
    font-size: 19px;
    text-align: center;
    height: 10%;
    width: 15%;
    font-family: JosefinSans-Bold;
}

.box2 {
    background-color: #df2330;
    color: #fff;
    font-size: 19px;
    text-align: center;
    height: 10%;
    width: 15%;
    font-family: JosefinSans-Bold;
}

.box3 {
    background-color: #3ecccb;
    color: #fff;
    text-align: center;
    font-size: 19px;
    height: 10%;
    width: 15%;
    font-family: JosefinSans-Bold;
}

.box4{
    background-color: #fecb6e;
    color: #fff;
    text-align: center;
    font-size: 19px;
    height: 10%;
    width: 15%;
    font-family: JosefinSans-Bold;
}

.boxes div{
    display: inline-block;
}

.boxes {
   margin-left: 26%;
}

.partner {
    text-align: center;
    font-family: JosefinSans-Bold;
    font-size: 27px;
    color: #c72030;
}

.partnerdesc {
    text-align: center;
    font-family: JosefinSans-Regular;
}

.circle ul li {
    display: inline-block;
    padding: 4%;
    margin-left: 10%;
}

.circle {
    text-align: center;
    padding-right: 11%;
    padding-top: 2%;
}

.circle1 {
    border: 2px solid #a1a1a1;
    padding: 10px 40px; 
    background: #213159;
    width: 64px;
    height: 64px;
    border-radius: 60%;
}

.circle2 {
    border: 2px solid #a1a1a1;
    padding: 10px 40px; 
    background: #002736;
    width: 64px;
    height: 64px;
    border-radius: 60%;
}


.circle3 {
    border: 2px solid #a1a1a1;
    padding: 10px 40px; 
    background: #213159;
    width: 64px;
    height: 64px;
    border-radius: 60%;
}


.circle4 {
    border: 2px solid #a1a1a1;
    padding: 10px 40px; 
    background: #213159;
    width: 64px;
    height: 64px;
    border-radius: 60%;
}


.middlecontent {
    position: relative;
    background-repeat: no-repeat;
    background-image: url(../images/middle.png);
    background-position: top right;
    height: auto;
    padding-top: 0%;
}


.middletext{
    font-family: josefinSans-Regular;
    font-weight: normal;
    font-size: 21px;
    line-height: 25px;
    height: 250px;      
/*    overflow-y: scroll; 
*/    margin: 1.5% 0 1.5% 0;
    padding-left: 4%
}

.middletext::-webkit-scrollbar {
    width: 25px;
}

.middletext::-webkit-scrollbar-track {
    background-color: #e6e6e6;
    border-radius: 20px;
}

.middletext::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #a2a4a8;
}
.tablinks {
    padding: 0;
}

.becomediv {
    background-color: #213159;
    width:100%;
}
.finddiv {
    background-color: #c72030;
    width:100%;
}
.gettingdiv {
    background-color: #35ccbc;
    width:100%;
}
.excellingdiv {
    background-color: #ffcc66;
    
    width:100%;
}

.becomeimg {
    padding-top: 5%;
    padding-left: 25%;
}

.becomedesc {
    color: #fff;
    font-family: josefinSans-Bold;
    font-size: 50px;
    text-align: center;
}

.bigvideo {
    padding-top: 3%;
}
.bigvideo img {
    width: 100%;
    height: auto;
}

.module h3 {
    font-family: JosefinSans-Bold;
    font-size: 19px;
    color: #000;
}
.module h1 {
    font-family: JosefinSans-Bold;
    font-size: 35px;
    color: #000;
}
.module h6 {
    font-family: JosefinSans-Bold;
    font-size: 14px;
    color: #000;
    color: #cb3a46;
}

.imgright img {
    margin-left: 100%;
    padding-left: 100%;
    margin-top: -108%;
}

.names {
    text-align: center;
    font-family: JosefinSans-Bold;
}
.names1 {
    font-family: JosefinSans-Bold;
    text-align: center;
    color: red;
}
.middle button{
    background: none;
    border: none;
}


.testi {
    background-color: #ebebeb;
    padding-bottom: 0%;
}
.testimonal{
    font-family: Times New Roman-Bold;
    font-size: 27px;
    text-align: center;
    margin-top: 30px;
    
}

#quote-carousel {
    padding: 0 10px 30px 10px;
    margin-top: 30px;
    
}
#quote-carousel .carousel-control {
    background: none;
    color: #CACACA;
    font-size: 2.3em;
    text-shadow: none;
    margin-top: 30px;
}
#quote-carousel .carousel-control.left {
    left: -60px;
}
#quote-carousel .carousel-control.right {
    right: -60px;
}
#quote-carousel .carousel-indicators {
    /*right: 50%;
    top: auto;*/
    bottom: 163px;
    margin-right: -19px;

}
#quote-carousel .carousel-indicators li {
    width: 100px;
    height: 100px;
    margin: 20px;
  /*  cursor: pointer;*/
    border: 4px solid #ebebeb;
    border-radius: 50px;
    /*opacity: 0.4;
    overflow: hidden;
    /*transition: al*//*l 0.4s;*/
}


#quote-carousel .carousel-indicators .active {
    background: #ffffff;
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border-color: #ebebeb;
    /*opacity: 1;
    overflow: hidden;*/
}
.carousel-inner {
    /*min-height: 300px;*/
    /*padding-top: 67px;*/

}

.item {
    margin-top: 163px;

}

#quote-carousel .active{
    background-color: #f3ebec !important;
    font-size: 21px;
     font-family: Times New Roman-Regular;


}
.juana{
    font-family: Times New Roman-Bold;
    font-size: 27px;
    text-align: center;

}
.subject{
    font-family: Times New Roman-Bold;
    font-size: 16px;
    text-align: center;
    color: #c72030;
}


.bottomcontent {
    position: relative;
    background-repeat: no-repeat;
    background-image: url(../images/botimg.png);
    background-size: cover;
    background-position: top left;
    padding-bottom: 83px;
 
}

.event {
    text-align: center;
    font-family: JosefinSans-Bold;
    color: #fff;
    font-size: 27px;
    padding-top: 57px;
}

.event1 {
    text-align: center;
    font-family: josefinSans-Regular;
    font-size: 20px;
    color: #fff;
    margin-top: 15px;
    padding-bottom: 70px;
}

.date {
    position: absolute;
    font-size: 23px;
    font-family: josefinSans-Bold;
    padding-left: 15.5%;
    margin-top: -26%;
    color: #fff;
}

.date1 {
    position: absolute;
    font-size: 23px;
    font-family: josefinSans-Bold;
    padding-left: 40%;
    margin-top: -26%;
    color: #fff;
}

.date2 {
    position: absolute;
    font-size: 25px;
    font-family: josefinSans-Bold;
    padding-left: 64.6%;
    margin-top: -26%;
    color: #fff;
}

.eventtitle {
    position: absolute;
    font-size: 23px;
    font-family: josefinSans-Bold;
    padding-left: 15%;
    margin-top: -21%;
}
.eventtitle1 {
    position: absolute;
    font-size: 23px;
    font-family: josefinSans-Bold;
    padding-left: 40%;
    margin-top: -21%;
}
.eventtitle2 {
    position: absolute;
    font-size: 23px;
    font-family: josefinSans-Bold;
    padding-left: 65%;
    margin-top: -21%;
}
.eventpara {
    position: absolute;
    font-size: 23px;
    font-family: josefinSans-Bold;
    padding-left: 15%;
    margin-top: -17%;
    width: 35%;
}
.eventpara1 {
    position: absolute;
    font-size: 23px;
    font-family: josefinSans-Bold;
    padding-left: 40%;
    margin-top: -17%;
    width: 61%;
}
.eventpara2 {
    position: absolute;
    font-size: 23px;
    font-family: josefinSans-Bold;
    padding-left: 65%;
    margin-top: -17%;
    width: 86%;
}
.read{
    position: absolute;
    font-size: 23px;
    font-family: josefinSans-Bold;
    padding-left: 15%;
    margin-top: -8%;
}
.read1{
    position: absolute;
    font-size: 23px;
    font-family: josefinSans-Bold;
    padding-left: 40%;
    margin-top: -8%;
}
  
.read2{
    position: absolute;
    font-size: 23px;
    font-family: josefinSans-Bold;
    padding-left: 65%;
    margin-top: -8%;
} 
.day{
    position: absolute;
    font-family: josefinSans-Bold;
    padding-left: 15.5%;
    margin-top: -24%;
    color: #fff;
    font-size: 23px;
}

.day1{
    position: absolute;
    font-family: josefinSans-Bold;
    padding-left: 40%;
    margin-top: -24%;
    font-size: 23px;
    color: #fff;
}
.day2{
    position: absolute;
    font-family: josefinSans-Bold;
    padding-left: 64.6%;
    margin-top: -24%;
    color: #fff;
    font-size: 23px;
}