/* galaxy-s5 portrait */
@media only screen 
and (device-width: 360px) 
and (device-height: 640px)
and (orientation : portrait)
{
.seconddivcut {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    background-image: url(../images/footerrightcorner.png);
    background-repeat: no-repeat;
    background-color: transparent;
    min-height: 91px;
    float: left;
    }
  .footerrighttext input {
    padding-right: 0px;
    padding-top: 7px;
    width: 100%;
    border-style: none;
    text-align: center;
    padding-left: 40%;
}
}
/* galaxy-s5 landscape */
@media only screen 
and (device-width: 640px) 
and (device-height: 360px)
and (orientation : landscape)
{

 .footerrightdivcut 
  {
    width: 3%;
  }
}


/* iPhone 5  portrait*/
@media only screen
and (max-width: 320px)
and (max-height: 568px)
and (orientation:portrait)
{
	.footerrighttext input
	{
    padding-right: 0px;
    padding-top: 7px;
    width: 100%;
    border-style: none;
    text-align: center;
    padding-left: 35%; 

    }
	
}


/* iPhone 6  portrait*/
@media only screen
and (min-width: 321px)
and (max-width: 375px)
and (min-height: 569px)
and (max-height: 667px)
and (orientation:portrait)
{
.footerrighttext input 
   {
    padding-right: 0px;
    padding-top: 7px;
    width: 100%;
    border-style: none;
    text-align: center;
    padding-left: 45%;
   }
}

/* iPhone 6 Plus landscape*/
@media only screen
and (min-height: 376px)
and (max-height: 414px)
and (min-width: 668px)
and (max-width: 736px)
and (orientation:landscape)
{
	.footerrightbutton
	{
		width:14%;
	}
}


/* iPad portrait*/
@media only screen
and (min-width: 750px)
and (max-width: 768px)
and (min-height: 1000px)
and (max-height: 1024px)
and (orientation:portrait) 
{
   .footerlogo 
   {
    width: 100%;
    padding: 0%;
    padding-top: 70px;
    padding-left: 0px;
   }
.footerrighttext 
   {
    display: inline-block;
    border-style: none;
    vertical-align: top;
    min-height: 34px;
    background-color: white;
    width: 77%;
    float: left;
  }
   .addressline 
   {
     padding: 11%;

   }

 
}
/* iPad landscape*/
@media only screen
and (min-height: 750px)
and (max-height: 768px)
and (min-width: 1000px)
and (max-width: 1024px)
and (orientation:landscape)
{

	.footerlogo
	 {
	 	width:90%;
    padding: 20% 10% 20% 20%;
      }
      .addressdetail
      {
      	width:50%;
      }
}






/* ipad pro Portrait*/
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait)  
{
    

.footerright {
    padding-top: 28px;
    margin-bottom: 3%;
}

.footerrighttext input {
    padding-right: 0px;
    padding-top: 7px;
    width: 100%;
    border-style: none;
    text-align: center;
    padding-left: 35%;
}
.footerrighttext{
	width: 70%;
}

.footerrightbutton {
    display: inline-block;
    background-color: #3399CC;
    vertical-align: top;
    min-height: 34px;
    width: 27%;
    float: right;

}
.footerlogo{
	border: 1px solid blue; 
}
}


