input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}


button {
    background-color: #2a99ce;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}
.container {
    padding:16px;
    width: 90%;
    color: white;
}
.input-img img {
    float:left;
    z-index: 0;
    width: 33px;
    left: 24.5%;
    padding-top: 1px;
}
img {
    vertical-align: middle;
    border: 0;
}
.usernm {
    border: 1px solid #fff;
    position: relative;
    padding-left: 14%;
    padding-top: 5.5%;
    padding-bottom: 5.5%;
    font-size: 15px;
}
span.psw {
    float: right;
    margin-right:0 px;
}

.modal-content {
    background-color: #203258;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 400px; 
    height: 350px;
    border-radius: 20px;
}

