

/*BANNER*/

.banner{
	position: relative;
	background-image: url(../images/banner.jpg);
	padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.bannercontent{
    color: #fff;
    padding: 0px 0px 0px 0px;
    text-align: right;
    
}
.contenttop h1{
	font-family: JosefinSans-BoldItalic;
	font-size: 60px;
	padding-bottom: 10px;
	padding-left: 15%;
}

.contenttop p{
	font-family: OpenSans-Regular;
	font-size: 17px;
    padding-bottom: 10px;
    padding-left: 14%;
}
.contenttop h3{
	font-family: JosefinSans-Regular;
	font-size: 26px;
}
.contenttop h6{
	font-family: OpenSans-Regular;
	font-size: 14px;
	color: #c72030;
}

.contentform{
	width: 38%;
    padding-left: 9%;
    float: right;
}
.formtitle {
	color: #fff;
	font-family: JosefinSans-Bold;
	font-size: 36px;
    text-align: center;
    margin: 0;
    padding-top: 10%;
}

.contentform input, select, option{
	font-family: JosefinSans-Bold;
	font-size: 17px;
	color: #46a7d5;
}
.form-control{
	border: 1px solid #fff;
	position: relative;
	padding-left: 14%;
	padding-top: 5.5%;
	padding-bottom: 5.5%;
    font-size: 15px;
}
.input-addon img{
	position: absolute;
	z-index: 1;
	width: 33px;
	left: 24.5%;
	padding-top: 4px; 
}
/* placeholder text color*/
.contentform input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #46a7d5;
}
.contentform input::-moz-placeholder { /* Firefox 19+ */
  color: #46a7d5;
}
.contentform input:-ms-input-placeholder { /* IE 10+ */
  color: #46a7d5;
}
.contentform input:-moz-placeholder { /* Firefox 18- */
  color: #46a7d5;
}

/* select option text color*/
.select option {
	
  	color: #fff; 
  	background-color: #e22632;
}
.selCandidateprofile{
	width: 100% !important;
	border-radius: 4px;
	color: #34424f;
	font-family: JosefinSans-Bold;
	font-size: 17px !important;
}

.selCandidateprofile button, .dropdown-menu {
	font-size: 17px !important;
	padding-bottom: 8px;
	padding-top: 8px;
	}


/*
* === CONTENT ===
*/

.contenthead{ 
	background-color: none !important;
	padding-top: 30px;
	
}
.content{
	padding-bottom: 5%;
}

.contenthead h1{
	color: #c72030;
	font-family: JosefinSans-Bold;
	font-weight: bold;
	font-size: 35px;
	text-align: center !important;
}

.contentmiddle h2{
	color: #213358;
	font-family: JosefinSans-Bold;
	font-weight: bold;
	text-align: left;
	padding-bottom: 2px;
	padding-left: 20%;
}
.contentmiddle p{
	font-family: OpenSans-Regular;
	color: #002736;
	line-height: 26px;
    font-weight: 500;
    padding-left: 20%;
    text-align: left;
}
.content-middle {
	padding-right: 3px;
	font-family: OpenSans-Regular;
	color: #002736;
	line-height: 26px;
    font-weight: 500;
    padding-left: 20%;
    text-align: left;
}
.content img{
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	padding-left: 28%;  
}
.btm-default-new{
	background-color: none;
	font-size: 16px !important;
	color: #c72030;
	font-family: OpenSans-Regular;
	font-weight: 500;
	padding-left: 20%;
	text-decoration-line: underline;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
	background-color: #e22632;
}



/* galaxy-s5 portrait */
@media only screen 
and (device-width: 360px) 
and (device-height: 640px)
and (orientation : portrait) {
	.banner{
		position: relative;
	    background-image: url(../images/bannergalaxys5.png);
	    padding-top: 40px;
	    padding-bottom: 40px;
	    position: relative;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: top left;
	    margin-top: 30px;
	    margin-bottom: 30px;
	}
	.contenttop h1{
		font-size: 33px;
		padding-bottom: 0px;
	}
	.contenttop p{
		font-size: 11px;
		padding-bottom: 0px;
	}
	.contenttop p{
	    font-size: 11px;
	}
	.contenttop h6{
		font-size: 12px;
		padding-bottom: 15px;
	}
	.contenttop h3{
		font-size: 20px;
	}
	.formtitle {
		padding-top: 0%;
		font-size: 22px;
	}
	.input-addon img{
		width: 31px;
	    left: 13%;
	    padding-top: 2px;
	}
	.form-control {
		padding-left: 18%;
	}
	.contentform {
		width: 75%;
	}
	.selCandidateprofile button{
		padding-bottom: 5px;
    	padding-top: 5px;
	}
	.contenthead h1{
		font-size: 31px;
	}
	.btm-default-new{
		padding-left: 0px;
	}
	.content img{
		padding-left: 20%;
		padding-bottom: 20px
	}
	.contentmiddle h2{
		padding-left: 0px;
	}
	.contentmiddle p{
		padding-left: 0px;
	}
}

/* galaxy-s5 landscape */
@media only screen 
and (device-width: 640px) 
and (device-height: 360px)
and (orientation : landscape) {
	.banner{
		position: relative;
	    background-image: url(../images/bannergalaxys5l.jpg);
	    padding-top: 40px;
	    padding-bottom: 40px;
	    position: relative;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: top left;
	    margin-top: 30px;
	    margin-bottom: 30px;
	}
	.contenttop h1{
		font-size: 35px;
	    padding-bottom: 1px;
	    padding-left: 55%;
	}
	.contenttop p{
	    font-size: 13px;
	    padding-left: 55%;
	    padding-bottom: 0px;
	}
	.contenttop h6{
		font-size: 10px;
		padding-bottom: 15px;
	}
	.contenttop h3{
		font-size: 21px;
	}
	.formtitle {
		padding-top: 0%;
		font-size: 25px;
	}
	.input-addon img{
		width: 31px;
	    left: 19.5%;
	    padding-top: 2px;
	}
	.form-control {
		padding-left: 18%;
	}
	.contentform {
		width: 50%;
	}
	.selCandidateprofile button{
		padding-bottom: 5px;
    	padding-top: 5px;
	}
	.contenthead h1{
		font-size: 29px;
	}
	.btm-default-new{
		padding-left: 0px;
	}
	.content img{
		padding-left: 20%;
		padding-bottom: 20px
	}
	.contentmiddle h2{
		padding-left: 0px;
	}
	.contentmiddle p{
		padding-left: 0px;
	}
}


/* Nexus 5x  portrait*/
@media only screen
and (min-width: 361px)
and (max-width: 412px)
and (min-height: 641px)
and (max-height: 732px)
and (orientation:portrait) {
   .banner{
		position: relative;
	    background-image: url(../images/bannergalaxys5.png);
	    padding-top: 40px;
	    padding-bottom: 40px;
	    position: relative;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: top left;
	    margin-top: 30px;
	    margin-bottom: 30px;
	}
	.contenttop h1{
		font-size: 37px;
		padding-bottom: 0px;
		padding-left: 16%;
	}
	.contenttop p{
		font-size: 11px;
		padding-bottom: 0px;
	}
	.contenttop p{
	    font-size: 11px;
	}
	.contenttop h6{
		font-size: 12px;
		padding-bottom: 15px;
	}
	.contenttop h3{
		font-size: 20px;
	}
	.formtitle {
		padding-top: 0%;
		font-size: 26px;
	}
	.input-addon img{
		width: 31px;
	    left: 13%;
	    padding-top: 2px;
	}
	.form-control {
		padding-left: 18%;
	}
	.contentform {
		width: 75%;
	}
	.selCandidateprofile button{
		padding-bottom: 5px;
    	padding-top: 5px;
	}
	.contenthead h1{
		font-size: 31px;
	}
	.contenthead{
		padding-top: 5px;
	}
	.btm-default-new{
		padding-left: 0px;
	}
	.content img{
		padding-left: 20%;
		padding-bottom: 20px
	}
	.contentmiddle h2{
		padding-left: 0px;
	}
	.contentmiddle p{
		padding-left: 0px;
	}
	.footerrightdivcut{
		width: 4%;
	}
	.footerrightbutton{
		width: 20%;
	}
}


/* Nexus 5x  landscape*/

@media only screen
and (min-height: 361px)
and (max-height: 411px)
and (min-width: 641px)
and (max-width: 731px)
and (orientation:landscape){
 	.banner{
		position: relative;
	    background-image: url(../images/bannergalaxys5l.jpg);
	    padding-top: 40px;
	    padding-bottom: 40px;
	    position: relative;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: top left;
	    margin-top: 30px;
	    margin-bottom: 30px;
	}
	.contenttop h1{
		font-size: 38px;
	    padding-bottom: 1px;
	    padding-left: 55%;
	}
	.contenttop p{
	    font-size: 13px;
	    padding-left: 55%;
	    padding-bottom: 0px;
	}
	.contenttop h6{
		font-size: 10px;
		padding-bottom: 15px;
	}
	.contenttop h3{
		font-size: 21px;
	}
	.formtitle {
		padding-top: 0%;
		font-size: 26px;
	}
	.input-addon img{
		width: 31px;
	    left: 19.5%;
	    padding-top: 2px;
	}
	.form-control {
		padding-left: 18%;
	}
	.contentform {
		width: 50%;
	}
	.selCandidateprofile button{
		padding-bottom: 5px;
    	padding-top: 5px;
	}
	.contenthead h1{
		font-size: 29px;
	}
	.footerrightdivcut {
		margin-right: -1.6%;
	}
	.footerrightbutton a{
		padding-left: 15px;
	}
	.footerrightbutton{
		width: 14%;
	}
	.btm-default-new{
		padding-left: 0px;
	}
	.content img{
		padding-left: 20%;
		padding-bottom: 20px
	}
	.contentmiddle h2{
		padding-left: 0px;
	}
	.contentmiddle p{
		padding-left: 0px;
	}

}


/* Nexus 6p portrait */
@media only screen
and (min-width: 412px)
and (max-width: 435px)
and (min-height: 732px)
and (max-height: 773px)
and (orientation:portrait) {
    .formtitle {
    	font-size: 26px;
    }
    .contenthead h1{
		font-size: 34px;
	}

}


/* Nexus 6p landscape */

@media only screen
and (min-height: 412px)
and (max-height: 435px)
and (min-width: 732px)
and (max-width: 773px)
and (orientation:landscape){
 	.banner{
		position: relative;
	    background-image: url(../images/bannergalaxys5l.jpg);
	    padding-top: 25px;
	    padding-bottom: 40px;
	    position: relative;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: top left;
	    margin-top: 30px;
	    margin-bottom: 30px;
	}
	.contenttop h1{
		font-size: 43px;
	    padding-bottom: 1px;
	    padding-left: 55%;
	}
	.contenttop p{
	    font-size: 14px;
	    padding-left: 49%;
	    padding-bottom: 0px;
	}
	.contenttop h6{
		font-size: 10px;
		padding-bottom: 15px;
	}
	.contenttop h3{
		font-size: 21px;
	}
	.formtitle {
		padding-top: 0%;
		font-size: 28px;
	}
	.input-addon img{
		width: 31px;
	    left: 19.5%;
	    padding-top: 2px;
	}
	.form-control {
		padding-left: 18%;
	}
	.contentform {
		width: 50%;
	}
	.selCandidateprofile button{
		padding-bottom: 5px;
    	padding-top: 5px;
	}
	.contenthead h1{
		font-size: 32px;
	}
	.footerrightdivcut {
		margin-right: -1.9%;
	}
	.footerrightbutton a{
		padding-left: 11px;
	}
	.footerrightbutton{
		width: 12%;
	} 
	.btm-default-new{
		padding-left: 0px;
	}
	.content img{
		padding-left: 20%;
		padding-bottom: 20px
	}
	.contentmiddle h2{
		padding-left: 0px;
	}
	.contentmiddle p{
		padding-left: 0px;
	}
}

/* iPhone 5  portrait*/
@media only screen
and (max-width: 320px)
and (max-height: 568px)
and (orientation:portrait) {
    .banner{
		position: relative;
	    background-image: url(../images/banneriphone5.jpg);
	    padding-top: 40px;
	    padding-bottom: 40px;
	    position: relative;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: top left;
	    margin-top: 30px;
	    margin-bottom: 30px;
	}
	.contenttop h1{
		font-size: 34px;
		padding-bottom: 0px;
		padding-left: 16%;
	}
	.contenttop p{
		font-size: 11px;
		padding-bottom: 0px;
	}
	.contenttop h6{
		font-size: 10px;
		padding-bottom: 15px;
	}
	.contenttop h3{
		font-size: 18px;
	}
	.formtitle {
		padding-top: 0%;
		font-size: 19px;
	}
	.input-addon img{
		width: 31px;
	    left: 13%;
	    padding-top: 2px;
	}
	.form-control {
		padding-left: 21%;
	}
	.contentform {
		width: 75%;
	}
	.selCandidateprofile button{
		padding-bottom: 5px;
    	padding-top: 5px;
	}
	.contenthead h1{
		font-size: 28px;
	}
	.contenthead{
		padding-top: 3px;
	}
	.footerrightbutton a{
		padding-left: 2px;
	}
	.footerrighttext{
		width: 69%;
	}
	.footerrightbutton{
		width: 24%;
	}
	.footerrightdivcut{
		width: 5%;
	}
	.btm-default-new{
		padding-left: 0px;
	}
	.content img{
		padding-left: 20%;
		padding-bottom: 20px
	}
	.contentmiddle h2{
		padding-left: 0px;
	}
	.contentmiddle p{
		padding-left: 0px;
	}
}

/* iPhone 5  landscape*/
@media only screen
and (max-height: 320px)
and (max-width: 568px)
and (orientation:landscape){
    .banner{
		position: relative;
	    background-image: url(../images/banneriphone5.jpg);
	    padding-top: 40px;
	    padding-bottom: 40px;
	    position: relative;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: top left;
	    margin-top: 30px;
	    margin-bottom: 30px;
	}
	.contenttop h1{
		font-size: 30px;
	    padding-bottom: 1px;
	    padding-left: 55%;
	}
	.contenttop p{
	    font-size: 12px;
    	padding-left: 56%;
	    padding-bottom: 0px;
	}
	.contenttop h6{
		font-size: 10px;
		padding-bottom: 15px;
	}
	.contenttop h3{
		font-size: 19px;
	}
	.formtitle {
		padding-top: 0%;
		font-size: 22px;
	}
	.input-addon img{
		width: 31px;
	    left: 19.5%;
	    padding-top: 2px;
	}
	.form-control {
		padding-left: 18%;
	}
	.contentform {
		width: 50%;
	}
	.selCandidateprofile button{
		padding-bottom: 5px;
    	padding-top: 5px;
	}
	.contenthead h1{
		font-size: 25px;
	}
	.footerrightbutton a{
		padding-left: 7px;
	}
	.footerrightbutton{
		width: 15%;
	}
	.footerrightdivcut{
		margin-right: -1.2%;
		width: 4%;
	}
	.btm-default-new{
		padding-left: 0px;
	}
	.content img{
		padding-left: 20%;
		padding-bottom: 20px
	}
	.contentmiddle h2{
		padding-left: 0px;
	}
	.contentmiddle p{
		padding-left: 0px;
	}
}

/* iPhone 6  portrait*/
@media only screen
and (min-width: 321px)
and (max-width: 375px)
and (min-height: 569px)
and (max-height: 667px)
and (orientation:portrait) {
 .formtitle{
 	font-size: 22px;
 }
 .footerrightdivcut{
 	width: 4%;
 }
 .footerrightbutton{
 	width: 23%;
 }
}


/* iPhone 6 landscape*/

@media only screen
and (min-height: 321px)
and (max-height: 375px)
and (min-width: 569px)
and (max-width: 667px)
and (orientation:landscape){
    .formtitle{
    	/*font-size: 26px !important;*/
    }
    .footerrightdivcut{
    	width: 4%;
    }
}


/* iPhone 6 Plus portrait*/
@media only screen
and (min-width: 376px)
and (max-width: 414px)
and (min-height: 668px)
and (max-height: 736px)
and (orientation:portrait) {
    .banner{
		position: relative;
	    background-image: url(../images/bannergalaxys5.png);
	    padding-top: 40px;
	    padding-bottom: 40px;
	    position: relative;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: top left;
	    margin-top: 30px;
	    margin-bottom: 30px;
	}
	.contenttop h1{
		font-size: 37px;
		padding-bottom: 0px;
		padding-left: 16%;
	}
	.contenttop p{
		font-size: 12	px;
		padding-bottom: 0px;
	}
	.contenttop h6{
		font-size: 12px;
		padding-bottom: 15px;
	}
	.contenttop h3{
		font-size: 20px;
	}
	.formtitle {
		padding-top: 0%;
		font-size: 26px;
	}
	.input-addon img{
		width: 31px;
	    left: 13%;
	    padding-top: 2px;
	}
	.form-control {
		padding-left: 18%;
	}
	.contentform {
		width: 75%;
	}
	.selCandidateprofile button{
		padding-bottom: 5px;
    	padding-top: 5px;
	}
	.contenthead h1{
		font-size: 33px;
	}
	.contenthead{
		padding-top: 5px;
	}
	.footerrightdivcut{
 		width: 4%;
 	}
 	.footerrightbutton{
 		width: 23%;
 	}
 	.btm-default-new{
		padding-left: 0px;
	}
	.content img{
		padding-left: 20%;
		padding-bottom: 20px
	}
	.contentmiddle h2{
		padding-left: 0px;
	}
	.contentmiddle p{
		padding-left: 0px;
	}
}

/* iPhone 6 Plus landscape*/
@media only screen
and (min-height: 376px)
and (max-height: 414px)
and (min-width: 668px)
and (max-width: 736px)
and (orientation:landscape){
   .input-addon img{
   	    left: 19%;
   }
   .contenttop h6{
   		padding-bottom: 15px;
   }
   .form-control{
   	    padding-left: 16%;
   }
   .footerrightdivcut{
 		width: 4%;
 	}
}


/* iPad portrait*/
@media only screen
and (min-width: 750px)
and (max-width: 768px)
and (min-height: 1000px)
and (max-height: 1024px)
and (orientation:portrait) {
   .banner{
		position: relative;
	    background-image: url(../images/banneripad.jpg);
	    padding-top: 40px;
	    padding-bottom: 40px;
	    position: relative;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: top left;
	    margin-top: 30px;
	    margin-bottom: 30px;
	}
	.contenttop p{
		font-size: 16px;
	    padding-bottom: 10px;
	    padding-left: 50%;
	}
	.contenttop h1{
		font-size: 47px;
		padding-left: 44%;
	}
	.contenttop h3{
		font-size: 22px;
	}
	.contenttop h6{
		font-size: 12px;
	}
	.contentform{
		width: 48%;
	}
	.formtitle{
		font-size: 28px;
	}
	.input-addon img{
		width: 32px;
	    left: 19.5%;
	    padding-top: 1px;
	}
	.form-control{
		padding-left: 15%;
	}
	.contenthead h1{
		font-size: 34px;
	}
	.firstleftcut {
		background-color: #fff !important;
	}
	.footerrightdivcut{
		width: 2%;
	}
	.footerrightbutton{
		width: 12%;
	}
	.btm-default-new{
		padding-left: 0px;
	}
	.content img{
		padding-left: 20%;
		padding-bottom: 20px
	}
	.contentmiddle h2{
		padding-left: 0px;
	}
	.contentmiddle p{
		padding-left: 0px;
	}
}


/* iPad landscape*/
@media only screen
and (min-height: 750px)
and (max-height: 768px)
and (min-width: 1000px)
and (max-width: 1024px)
and (orientation:landscape){
	.banner{
		position: relative;
	    background-image: url(../images/banneripadl.jpg) !important;
	    padding-top: 40px;
	    padding-bottom: 40px;
	    position: relative;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: top left;
	    margin-top: 30px;
	    margin-bottom: 30px;
	}
	.contenttop h1{
		font-size: 56px;
	}
	.contenttop p{
		font-size: 15px;
		padding-left: 1%;
	}
	.contentform{
		width: 42%;
	}
	.input-addon img{
		left: 22%;
		padding-top: 1px;
	}
	.formtitle{
		font-size: 30px;
	}
	.contenttop h6{
		font-size: 13px;
	}
	.contentmiddle h2{
		font-size: 28px;
	}
	.footer{
		padding-top: 8%;
	}
	.footerlogo{
		width: 89%;
    	padding: 14%;
	}
   .footerrighttext{
   		width: 60%;
   }
   .footerrightdivcut{
   		width: 4.6%;
   }
   .footerrightbutton{
   		width: 26%;
   }
   .footerrightbutton a{
   		padding-left: 9px;
   }
   .footerrighttext input{
   		padding-left: 29%;
   }
   .firstdivcut{
   		padding-left: 0%;
   }
   .addressline{
   		padding: 9%;
   }
}



/* ipad pro Portrait*/
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait)  {

	.banner{
		position: relative;
	    background-image: url(../images/banneripadpro.jpg);
	    padding-top: 40px;
	    padding-bottom: 40px;
	    position: relative;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: top left;
	    margin-top: 30px;
	    margin-bottom: 30px;
	}
	.contenttop h1{
		padding-left: 14%;
	}
	.contenttop p{
		padding-left: 4%;
	}
	.contentform{
		width: 41%;
	}
	.input-addon img{
		width: 32px;
	    left: 22.7%;
	    padding-top: 1px
	}
	.formtitle{
		font-size: 27px;
    	letter-spacing: 1px;
	}
	.contenttop h3{
		font-size: 24px;
	}
	.contenttop h6{
		font-size: 12px;

	}
	.contentmiddle h2{
		font-size: 28px;
	}
}

/* ipad pro landscape */
@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape)  {
	.banner{
		position: relative;
	    background-image: url(../images/banneripadprol.jpg);
	    padding-top: 40px;
	    padding-bottom: 40px;
	    position: relative;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: top left;
	    margin-top: 30px;
	    margin-bottom: 30px;
	}
	.contenttop p{
		padding-left: 14%;
	}
	.footerlogo{
		width: 58%;
		padding: 10% 10% 10% 20%;
	}
	.addressline{
		padding: 10% 0% 0% 0%;
	}
	.addressdetails, .footerlinks li a{
		font-size: 15px;
		line-height: 29px;
		margin-top: 0px;
	}
	
}