
.leftside {
    background-image: url(images/aboutusimage.png);
}

.leftside img {
    width: 100%;
    position: relative;
  
}
.rightside {
    background-image: url(../images/whyusimage.png);

}

.rightside img {
    width: 100%;
    position: relative;
  
}
.aboutinner {
    position: absolute;
    top: 10%;
    border: 0px solid white;
    margin-left: 8%;
    height: 320px;
    color: white;
}

.aboutinner h1 {
    font-family: JosefinSansBold;
    font-style: italic;
    font-size: 35px;
    padding-top: 35px;
}

.rightalign {
    text-align: right;
}

.leftpadding {
    padding-left: 6%;
}

.generalpara {
    font-size: 16px;
    font-weight: 200;
    padding-top: 20px;

}
    
.responsive-image {
    text-align: center;
    padding-top: 0px;
    max-width: 100%;
    position: relative;
    overflow: auto;
    height: auto; 
}
.responsive-image {
    max-width: 100%; 
    height: auto;
    display:block;
    left: -33px;
}
.fulltext{
    padding-top: 0px;
    padding-left: 0px;
}
.text1{
    min-height: 10px
   
}
.htext h3{
 font-family: JosefinSans-Bold; 
 font-size: 36px;
 color: black;
  
}
.para{
     font-family: OpenSans-Regular;
     font-size: 21px;
     color: black;
    
}
.more{
   font-family: OpenSans-Regular;
     font-size: 21px;
    color: #E4222A;
}
.more1{
    padding-top: 29px;
}
.more2{
    padding-top: 11px;
    
}
.more3{
    padding-top: 11px;
    
}



.prasathcontent {
    padding-top: 0px;
    padding-bottom: 0px;
    
}

.leftdiv {
    background-color: #2780ae;
    background-image: url(../images/aboutusimage.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: top right;
    min-height: 500px;
    position: relative;
}

.rightdiv {
    background-color: #bf1f2d;
    background-image: url(../images/whyusimage.png);
    background-repeat:no-repeat;
    background-size:cover;  
    background-position: top left;
    min-height: 500px;
    position: relative;
}

.wrapperleftdiv {
    padding-left: 0px;
    padding-right: 5px;
}

.wrapperrightdiv {
    padding-right: 0px;
    padding-left: 5px;
}
.abouttext{
    color: #ffffff;
    padding-left: 120px;
    padding-top: 12px;

}
.aboutus{
   font-family: JosefinSans-BoldItalic;
    font-size: 69px;
    padding-top: 30px;
    
}
.aboutuspar{
    font-family: OpenSans-Regular;
    font-size: 16.5px;
    color: #ffffff;
    padding-top: 5px;
    line-height: 26px;

}
.whytext{
    color: #ffffff;
    padding-top: 27px;
}
.whyus{
    font-family: JosefinSans-BoldItalic;
    font-size: 69px;
    padding-top: 30px;
   
}
.whyuspar{
    font-family: OpenSans-Regular;
    font-size: 16.5px;
    color: #ffffff;
    padding-top: 5px;
    line-height: 26px
}
.pardiv{
    padding-top: 37PX;
    line-height: 28PX;
}
.line{
   border: 1px solid-red;
   background-color: #e6e6e6;
   height: 15px;

}
.awclass{
    background-image: url(images/prasath.png);
   
}
.aboutsection img{
    width: 100%;
}

.aboutsection {
    background-image: url(../images/aboutback.png);
    background-repeat: no-repeat;
    background-position: top;
   
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    padding-bottom: 112px;
}



/* Galaxy S5 */
@media only screen
and (max-width: 360px)
and (max-height: 640px)
and (orientation:portrait) {
 
.abouttext{
    padding-left: 0px;
    
}
.responsive-image{
    left: 0px;
}

}
@media only screen
and (max-height: 360px)
and (max-width: 640px)
and (orientation:landscape){
  .responsive-image{
    left: 0px;
}

}



/* Nexus 5x */
@media only screen
and (min-width: 361px)
and (max-width: 412px)
and (min-height: 641px)
and (max-height: 732px)
and (orientation:portrait) {

.abouttext{
    padding-left: 0px;
 
}
.responsive-image{
    left: 0px;
}


}
@media only screen
and (min-height: 361px)
and (max-height: 411px)
and (min-width: 641px)
and (max-width: 731px)
and (orientation:landscape){


   .responsive-image{
    left: 0px;
}


}
/* Nexus 6p */
@media only screen
and (min-width: 412px)
and (max-width: 435px)
and (min-height: 732px)
and (max-height: 773px)
and (orientation:portrait) {
    p {    }
}

@media only screen
and (min-height: 412px)
and (max-height: 435px)
and (min-width: 732px)
and (max-width: 773px)
and (orientation:landscape){


  .responsive-image{
    left: 0px;
}


}


/* iPhone 6 Plus*/
@media only screen
and (min-width: 376px)
and (max-width: 414px)
and (min-height: 668px)
and (max-height: 736px)
and (orientation:portrait) {

   .abouttext{
    padding-left: 0px;
}

   .responsive-image{
    left: 0px;
}

}

@media only screen
and (min-height: 750px)
and (max-height: 768px)
and (min-width: 1000px)
and (max-width: 1024px)
and (orientation:landscape){
     .abouttext{
    padding-left: 14px;
}

}

/* iPad*/
@media only screen
and (min-width: 750px)
and (max-width: 768px)
and (min-height: 1000px)
and (max-height: 1024px)
and (orientation:portrait) {
    .abouttext{
    padding-left: 14px;
}
   .responsive-image{
    left: 0px;
}
.htext h3 {
    font-size: 20px;
}
.para{
    font-size: 18px;
}
}

@media only screen
and (min-height: 750px)
and (max-height: 768px)
and (min-width: 1000px)
and (max-width: 1024px)
and (orientation:landscape){

     .responsive-image{
    left: 0px;
}
.htext h3 {
    font-size: 27px;
}
.para{
    font-size: 19px;
}
}
/* iPad pro*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait){
    .abouttext {
    padding-left: 14px;
    padding-top: 12px;
}
    .htext h3 {
     font-size: 27px;   
}
.para {
        font-size: 19px;
    }
}
@media only screen
and (min-height: 750px)
and (max-height: 1024px)
and (min-width: 1000px)
and (max-width: 1366px)
and (orientation:landscape){
   
  .abouttext {
        padding-left: 25px;
        padding-top: 26px;
    }
}    






