
@font-face {
    font-family: JosefinSans-Bold;
    src: url(../fonts/JosefinSans-Bold.ttf);
}

@font-face {
    font-family: JosefinSans-Regular;
    src: url(../fonts/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: JosefinSans-BoldItalic;
    src: url(../fonts/JosefinSans-BoldItalic.ttf);
}

@font-face {
    font-family: JosefinSans-Italic;
    src: url(../fonts/JosefinSans-Italic.ttf);
}

@font-face {
    font-family: JosefinSans-Light;
    src: url(../fonts/JosefinSans-Light.ttf);
}

@font-face {
    font-family: JosefinSans-SemiBold;
    src: url(../fonts/JosefinSans-SemiBold.ttf);
}

@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: OpenSans-BoldItalic;
    src: url(../fonts/OpenSans-BoldItalic.ttf);
}

@font-face {
    font-family: OpenSans-ExtraBold;
    src: url(../fonts/OpenSans-ExtraBold.ttf);
}

@font-face {
    font-family: OpenSans-ExtraBoldItalic;
    src: url(../fonts/OpenSans-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: OpenSans-Italic;
    src: url(../fonts/OpenSans-Italic.ttf);
}

@font-face {
    font-family: OpenSans-Semibold;
    src: url(../fonts/OpenSans-Semibold.ttf);
}




/* Rajavel */

.topheader {
	background-color: #213358;
	color: white;
	font-family: JosefinSans-Regular;
    font-style: italic;
    font-size: 16px;
    padding: 10px 0px 10px 0px;	
}

.wrapperclass {
	border:0px solid red;
}

.wrapperinner {
	background-color: transparent;
    margin-top: -1.5%;
	padding-right: 0px;
	color: white;
}

.wrappercutinnerfirst {
	background-image:url('../images/topheadercut.png');
    background-repeat:no-repeat;
    background-position:right top;
}

.wrappercutinner {
	background-color: #3399cc;	
}

.wrappercutinnerfirst, .wrappercutinner {
	height: 45px;
}

.wrappercutinner ul li {
	display: inline-block;
	padding: 7px 5px 7px 5px;	
}

.wrappercutinner ul {
	padding-left: 0px;
	padding-top: 1%;
}

.wrappercutinner ul li a {
	color: white;
	text-decoration: none;
	font-family: JosefinSans-Bold;
	font-size: 14px;
}

.cutimageclass img {
	padding: 0px 0px 7px 5px !important;	
}

/* footer */

.secondrow {
	background-color: #2B99CE;
	height: 20px;
}

.footer {
	background-color: #21305B;
	color: #fff;
	padding-top: 5%;
}

.footerlogo {
	width: 65%;
    padding: 10%;
}

.addressline {
	padding: 10%;
}

.addressline h6 {
	font-family: JosefinSans-Bold;
    font-size: 18px;
    color: #CA1B2C;
    letter-spacing: 2px;
}

.addressdetails, .footerlinks li a {
	font-family: OpenSans-Regular;
	font-size: 14px;
}

.addressdetails, .footerlinks li {
	line-height: 24px;
}

.addressline ul li {
	display: inline-block;
}

.addressline ul {
	padding: 10px 0 0 0;
}

.addressline ul li a img {
	width: 80%;
}

.footerlinks li {
	display: block !important;	
}

.footerlinks li a {
	text-decoration: none;
	color: #fff;
	
}
.footerlinks {
	padding-top: 0px !important;
}


/*Parthiban */

.footerleft {
	/*background-color: #2B99CE;*/
	padding: 0px;
	margin-top: -1%;
}

.firstdivcut {
	width: 80%;
	display: inline-block;
	vertical-align: middle;
	background-color: #3399CC;
	min-height: 91px;
	float: left;
	padding-top: 6%;
	color: white;
	padding-left: 10%;
}

.seconddivcut {
	width: 20%;
	display: inline-block;
	vertical-align: top;
	background-image: url(../images/footerrightcorner.png);
	background-repeat: no-repeat;
	background-color: transparent;
	min-height: 91px;
	float: left;
}

.firstleftcut {
	background-color: #3399CC;
	min-height: 91px;
	padding-right: 0px;
}

.secondleftcut {
	padding-left: 0px;
}

.footerright{
	padding-top: 28px;
	margin: 0px;
}
.footerrightdivcut{
	width: 3%;
	background-image: url(../images/emailimage.png);
	background-repeat: no-repeat;
	display: inline-block;
	min-height: 34px;
    float: left;
}
.footerrighttext{
	display: inline-block;
	border-style: none;
	vertical-align: top;
	min-height: 34px;
    background-color: white;
    width: 71%;
    float: left;
}
.footerrighttext input {
	padding-right: 0px;
	padding-top: 7px;
    width: 100%;
    border-style: none;
    text-align: center;
    padding-left: 54%; 
}
.footerrightbutton{
	display: inline-block;
	background-color: #3399CC;
	vertical-align: top;
	min-height: 34px;
    width: 17%;
    float: left;
}
.footerrightbutton a{
	color: white;
	padding-left: 10px;
}

.middlecontent {
	padding-top: 30px;
	padding-bottom: 30px;
}

/* galaxy-s5 portrait */
@media only screen 
and (device-width: 360px) 
and (device-height: 640px)
and (orientation : portrait) {
	.footerright {
    	padding-top: 10px;
	}
	..firstdivcut{	
		min-height: 72px;
		padding-top: 5%;
		padding-left: 10%;
		font-family: OpenSans-Regular;
		font-size: 13px;
	}
	.footerrightdivcut {
    	width: 4.3%;
	}
	.seconddivcut {
		min-height: 72px;
	}	
	.footerrightbutton a {
		padding-left: 5px;
	}
	.banner{
		position: relative;
	    background-image: url(../images/bannergalaxys5.jpg);
	    padding-top: 40px;
	    padding-bottom: 40px;
	    position: relative;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: top left;
	    margin-top: 30px;
	    margin-bottom: 30px;
	}

}

/* galaxy-s5 landscape */
@media only screen 
and (device-width: 640px) 
and (device-height: 360px)
and (orientation : landscape) {
	.addressline{
		padding: 
	}
	.footer {
    	background-color: #21305B;
    	padding-top: 0px ! important;
    }
    .footerlogo{
    	width: 65%;
    	padding: 10% 0px 10% 10%;
    	margin-left: 10%;
    }
	.footerright {
    	
    	padding-left: 12%;
	}
	.firstdivcut {
		padding-top: 4%;
	    padding-left: 13%;
	}
	.footerrightdivcut {
	    width: 2.64%;
	}
	.footerrightbutton a {
		width: 13%;
		padding-left: 4px;
	}
	.footerrightbutton{
		width: 14%;
	}
}

/* iphone5 portrait */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) { 

	.topheader {
		font-size: 12px;
	}

	
	.wrappercutinnerfirst {
		width: 10%;
	}
	.wrappercutinnerfirst, .wrappercutinner {
		float: left;
	}

	.wrappercutinner ul li a {
		font-size: 12px;
	}

	.wrappercutinner {
		width: 90%;
	}

	.wrappercutinnerfirst, .wrappercutinner {
		height: 40px;
	}

	.wrappercutinner ul li {
		padding: 4px 5px 7px 5px;
	}

	.wrapperinner {
		margin-left: 1%;
		padding-left: 0px;
		width: 99%;
	}

	.footerlogo {
		width: 95%;
	}

	.addressline {
		padding-top: 0;
	}

	
}


/* iphone6 landscape */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) { 

	.wrapperinner {
		margin-left: 40% !important;
		width: 60%;
	}

}

/* iphone6 portrait */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) { 

	.topheader {
		font-size: 15px;
	}

	.wrapperinner {
		margin-left: 31px !important;
		width: 91.66% !important;
	}

	.wrappercutinnerfirst {
		width: 10%;
	}

	.wrappercutinnerfirst, .wrappercutinner {
		float: left;
	}

	.wrappercutinner {
		width: 90%;
	}

	.footerlogo {
		width: 95%;
	}

	.addressline {
		padding-top: 0;
	}
}

/* iphone6 plus landscape */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : landscape) { 

	/*.wrappercutinnerfirst {
		height: 45px;
    	float: left;
	}*/

	.wrapperinner {
		margin-left: 45%;
    	width: 55%;
	}
}

/* iphone6 plus portrait */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : portrait) { 

	.wrapperinner {
		margin-left: 34px !important;
		width: 91.8% !important;
	}

	.footerlogo {
		width: 95%;
	}

	.addressline {
		padding-top: 0;
	}

}

/* iPad landscape*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

	

}

/* iPad portrait*/
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 

	.footerlogo {
	    width: 100%;
	    padding: 0%;
	    padding-top: 70px;
	    padding-left: 0px;
	}

	.addressline {
	    padding: 7%;
	}

}

/* ipad pro Portrait*/
@media only screen
and (min-device-width: 1024px)
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait)  {

	.footerlogo {
	    width: 74%;
	    padding: 0%;
	    padding-top: 42px;
	    padding-left: 22%;
	}

	.addressline {
	    padding: 7%;
	}

	

}

/* ipad pro landscape */
@media only screen 
and (min-device-width: 1024px) 
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape)  {

	
}










